# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tmp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.spv
*.elf
*.elf.unstripped

# Logs
*.log
*.txt

# ISOs
*.iso
*.cdi
*.gdi

# Other stuff that's a pain when doing cross-arch stuff
default/

# Assets
*.gz
*.lz4
*.png
*.dtex
*.glb
*.ogg
*.wav
*.ttf
*.otf
*.bin
*.bsp
*.vmt
*.vtf
*.ztmp

maps/
models/
llm/
tmp/